.navbar{
    width: 100%;
    background-color:var(--color-primary);
    align-items: center;
    justify-content: space-between;
    display: flex;
    width:100vw;
    padding: 0px 32px;
height: 74px;



    
}
